//Raleway 100
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Thin.woff"), url("../fonts/Raleway/Raleway-Thin.woff");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

//Raleway 400
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-Regular.woff"), url("../fonts/Raleway/Raleway-Regular.woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
//Raleway 600
@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway/Raleway-SemiBold.woff"), url("../fonts/Raleway/Raleway-SemiBold.woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
//Raleway 700
@font-face {
  font-family: Raleway;
  src: url("../fonts/Raleway/Raleway-Bold.woff"), url("../fonts/Raleway/Raleway-Bold.woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
//Cinzel 400
@font-face {
  font-family: Cinzel;
  src: url("../fonts/Cinzel/Cinzel-Regular.woff"), url("../fonts/Cinzel/Cinzel-Regular.woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
//Cinzel 700
@font-face {
  font-family: Cinzel;
  src: url("../fonts/Cinzel/Cinzel-Bold.woff"), url("../fonts/Cinzel/Cinzel-Bold.woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
//DMSans 400
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans/DMSans-Regular.woff"), url("../fonts/DMSans/DMSans-Regular.woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
//DMSans 500
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans/DMSans-Medium.woff"), url("../fonts/DMSans/DMSans-Medium.woff2");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}
