.payment {
  position: relative;
  overflow-x: clip;
  height: 400vh;
  &__to {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
  }
  &__wrapper {
    height: 100vh;
    position: sticky;
    top: 0;
  }
  background-color: #e5e5e7;
  &__inner {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
  }
  &__line {
    margin-top: 91px;
    align-self: flex-start;
    margin-left: 115px;
    height: 1px;
    background-color: #000;
    transition: all 700ms ease-in-out;
    width: 0;
    @media (max-width: 1700px) {
      margin-left: 45px;
    }
    @media (max-width: 768px) {
      margin-top: 67px;
      margin-left: 30px;
    }
    @media (min-width: 2500px) {
      margin-top: 140px;
    }
    @media (min-width: 3000px) {
      margin-top: 260px;
    }
  }
  &__top {
    width: 100%;
    margin-top: 47px;
    padding: 0 115px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 1700px) {
      margin-top: 23px;
      padding: 0 45px;
    }
    @media (max-width: 768px) {
      margin-top: 0px;
      padding: 0 30px;
    }
    @media (min-width: 2500px) {
      margin-top: 47px;
    }
    @media (min-width: 3000px) {
      margin-top: 50px;
    }
  }
  &__title {
    color: $black;
    font-family: Cinzel;
    font-size: 48px;
    text-transform: uppercase;
    opacity: 0;
    transition: all 700ms ease-in-out;
    @media (max-width: 1200px) {
      font-size: 36px;
    }
    @media (max-width: 768px) {
      font-size: 24px;
      line-height: 2;
    }
    @media (min-width: 2500px) {
      font-size: 76px;
    }
    @media (min-width: 3000px) {
      font-size: 96px;
    }
  }
  &__subtitle {
    max-width: 776px;
    color: $black;
    font-family: Raleway;
    font-size: 21px;
    line-height: 1.5;
    opacity: 0;
    transition: all 700ms ease-in-out;
    @media (max-width: 1700px) {
      font-size: 18px;
      max-width: 570px;
    }
    @media (max-width: 1200px) {
      font-size: 16px;
      max-width: 400px;
    }
    @media (max-width: 992px) {
      max-width: 300px;
      font-size: 16px;
    }
    @media (max-width: 768px) {
      display: none;
    }
    @media (min-width: 2500px) {
      font-size: 31px;
      max-width: 900px;
    }
    @media (min-width: 3000px) {
      max-width: 1500px;
      font-size: 42px;
    }
  }
  &__left {
    position: absolute;
    height: 100%;
    width: 50vw;
    top: 0;
    left: 0;
    z-index: 2;
    @media (max-width: 768px) {
      width: 100vw;
      height: 50vh;
    }
    &-wrapper {
      display: flex;
      flex-direction: column;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 35%;
      left: 50%;
      transform: translateX(-50%);

      @media (max-width: 768px) {
        top: 40%;
      }
    }
  }
  &__percent {
    color: $black;
    text-align: center;
    font-family: "Dm Sans";
    font-size: 178px;
    opacity: 0;
    transform: translateY(50px);
    transition: all 500ms ease-in-out 600ms;
    display: flex;
    justify-content: center;
    @media (max-width: 1700px) {
      font-size: 128px;
    }
    @media (max-width: 1200px) {
      font-size: 80px;
    }
    @media (max-width: 768px) {
      font-size: 48px;
    }
    @media (min-width: 2500px) {
      font-size: 260px;
      line-height: 1;
    }
    @media (min-width: 3000px) {
      font-size: 356px;
    }
    &-right {
      color: $white;
    }
  }
  &__info {
    margin-top: 29px;
    color: $black;
    text-align: center;
    font-family: Raleway;
    font-size: 48px;
    line-height: 1;
    opacity: 0;
    transform: translateY(50px);
    transition: all 500ms ease-in-out 700ms;
    @media (max-width: 1700px) {
      font-size: 40px;
    }
    @media (max-width: 1200px) {
      font-size: 30px;
      margin-top: 18px;
    }

    @media (max-width: 992px) {
      font-size: 28px;
    }
    @media (max-width: 768px) {
      margin-top: 5px;
      font-size: 20px;
    }
    @media (min-width: 2500px) {
      font-size: 76px;
    }
    @media (min-width: 3000px) {
      margin-top: 58px;
      font-size: 96px;
    }
    &-right {
      color: $white;
    }
  }
  &__and {
    position: relative;
    margin: 54px auto 0;
    color: #a2a2a2;
    text-align: center;
    font-family: Raleway;
    font-size: 21px;
    display: inline-block;
    width: 100%;
    opacity: 0;
    transform: translateY(50px);
    transition: all 500ms ease-in-out 800ms;
    @media (max-width: 1700px) {
      margin: 27px auto 0;
    }
    @media (max-width: 1200px) {
      font-size: 18px;
    }
    @media (max-width: 768px) {
      margin: 20px auto 0;
      font-size: 16px;
    }
    @media (max-height: 680px) {
      margin: 15px auto 0;
    }
    @media (min-width: 2500px) {
      font-size: 31px;
    }
    @media (min-width: 3000px) {
      margin: 110px auto 0;
      font-size: 42px;
    }
    &-left,
    &-right {
      width: 0px; //170
      height: 1px;
      position: absolute;
      content: "";
      display: block;
      left: calc(50% + 28px);
      top: 50%;
      transform: translateY(-50%);
      background-color: #a2a2a2;
      transition: all 700ms ease-in-out 800ms;
      @media (min-width: 2500px) {
        left: calc(50% + 62px);
      }
    }
    &-left {
      left: auto;
      right: calc(50% + 28px);
      @media (min-width: 2500px) {
        right: calc(50% + 62px);
      }
    }
  }
  &__subpercent {
    margin-top: 43px;
    color: $black;
    font-family: "DM Sans";
    font-size: 21px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
    opacity: 0;
    transform: translateY(50px);
    transition: all 500ms ease-in-out 900ms;
    @media (max-width: 1700px) {
      margin-top: 27px;
    }
    @media (max-width: 768px) {
      margin-top: 20px;
    }
    @media (max-height: 680px) {
      margin-top: 10px;
    }
    @media (min-width: 2500px) {
      font-size: 31px;
    }
    @media (min-width: 3000px) {
      font-size: 42px;
    }
  }
  &__subinfo {
    color: #000;
    font-family: Raleway;
    font-size: 21px;
    line-height: 1.5;
    text-align: center;
    opacity: 0;
    transform: translateY(50px);
    transition: all 500ms ease-in-out 1000ms;
    @media (min-width: 2500px) {
      font-size: 31px;
    }
    @media (min-width: 3000px) {
      font-size: 42px;
    }
  }
  &__right {
    overflow: hidden;
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
    background-color: #000000;
    right: 0;
    width: 50vw;
    height: 100%;
    position: absolute;
    z-index: 2;
    bottom: 0px;
    will-change: transform, clip-path;

    @media (max-width: 768px) {
      bottom: 0;
      width: 100%;
      height: 50%;
      clip-path: inset(0% 0% 0% 0%);
    }
    &-wrapper {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      @media (max-width: 768px) {
        top: 30%;
      }
    }
    &-text {
      margin-top: 38px;
      color: #e5e5e7;
      text-align: center;
      font-family: "DM Sans";
      font-size: 21px;
      font-weight: 500;
      line-height: 1.5;
      opacity: 0;
      transform: translateY(50px);
      transition: all 600ms ease-in-out 600ms;
      @media (max-width: 1700px) {
        margin-top: 21px;
      }
      @media (min-width: 2500px) {
        font-size: 31px;
      }
      @media (min-width: 3000px) {
        margin-top: 77px;
        font-size: 42px;
      }
    }
  }
  &__circle-white {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 600ms ease-in-out;
    @media (min-width: 2500px) {
      transform: translate(-50%, -50%) scale(1.5);
    }

    @media (max-width: 768px) {
      width: 634px;
      left: 100%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(-90deg);
    }
    @media (max-height: 800px) {
      // width: 150%;
    }
  }
  &__circle--active {
    opacity: 1;
  }
  &__circle-black {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 100%;
    left: 0%;
    @media (max-width: 768px) {
      width: 634px;
      left: 100%;
      top: 0%;
      transform: translate(-50%, -50%) rotate(-90deg);
    }
    @media (max-height: 800px) {
      // width: 75%;
    }
    @media (min-width: 2500px) {
      transform: translate(-50%, -50%) scale(1.5);
    }
  }
}
.payment--active {
  .payment__title {
    opacity: 1;
  }
  .payment__subtitle {
    opacity: 1;
  }
  .payment__line {
    width: calc(100% - 230px);
    @media (max-width: 1700px) {
      width: calc(100% - 90px);
    }
    @media (max-width: 768px) {
      width: calc(100% - 60px);
    }
  }
}

.payment__left--active {
  .payment__percent {
    opacity: 1;
    transform: translateY(0);
  }
  .payment__info {
    opacity: 1;
    transform: translateY(0);
  }
  .payment__subpercent {
    opacity: 1;
    transform: translateY(0);
  }
  .payment__subinfo {
    opacity: 1;
    transform: translateY(0);
  }
  .payment__and {
    opacity: 1;
    transform: translateY(0);
    &-left,
    &-right {
      width: 170px;
      @media (min-width: 3000px) {
        width: 340px;
      }
      @media (max-width: 1700px) {
        width: 150px;
      }

      @media (max-width: 1200px) {
        width: 100px;
      }
    }
  }
}
.payment__right--active {
  .payment__percent {
    opacity: 1;
    transform: translateY(0);
  }
  .payment__info {
    opacity: 1;
    transform: translateY(0);
  }
  .payment__right-text {
    opacity: 1;
    transform: translateY(0);
  }
}
